.logo{
    width: 180px;
    height: 149px;
    display: block;
    margin: 60px auto; 
} 
.main{}
.main_left{}
.main_left_img{}
.main_right{}
.main_right_title{}
.main_right_from{}
.main_right_from_item{}
.main_right_from_label{}
.main_right_from_input{}
.main_right_from_submit{}
.main_right_from_footer{}
.main_right_from_footer_1{}
.main_right_from_footer_2{} 