.box {
  padding-top: 35px;
}

.main {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: #383e4dcf;
    padding: 20px 40px;
  }
  
  .main_title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .main_title_line {
    width: 9px;
    height: 39px;
    background: rgba(0, 111, 255, 1);
  }
  
  .main_title_1 {
    margin-right: 14px;
    font-size: 32px;
    font-weight: 900;
    line-height: 38.73px;
    color: rgba(255, 255, 255, 1);
    padding-left: 14px;
    border-left: 9px solid rgba(0, 111, 255, 1);
  }
  
  .main_title_2 {
    flex: 1;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 4px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main_title_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: rgba(255, 255, 255, 1);
  }
  
  .main_title_3_1 {
    width: 45px;
    height: 45px;
    margin: 0px 22px 0px 4px;
  }
  
  .main_title_3_2 {
    width: 8px;
    height: 4px;
  }
  
  .main_tab {
      display: flex;
      align-items: end;
        margin-top: 30px;
      }
      
      .main_tab_item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 16px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: rgba(255, 255, 255, 1);
    margin-right: 20px;
  }
  
  .main_tab_item_img {
    width: 8px;
    height: 4px;
    margin-left: 20px;
  }
  
  .main_tab p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 59, 48, 1);
    margin: 0px 0px 0px -10px;
}

.footer {
  height: 100px;
}

@media (max-width: 768px) {
  .box {
      width: 100%;
    }
  
    .main {
      width: 100%;
      box-sizing: border-box;
    }
  
    .main_title {
      display: block;
    }
        
.main_title_2 {
  padding-top: 10px;
}

.main_title_3 {
  display: none;
}
}