.box {
  padding-top: 35px;
}
.main {
  width: 1200px;
  height: 540px;
  display: flex;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  background: rgb(244 245 248 / 26%);
}
.footer {
  height: 100px;
}
@media (max-width: 768px) {
  
}
