.Home { 
  width: 1200px;
  margin: 0 auto;
  padding-top: 48px;
}
.Home_box{
  border-radius: 6px;
  border: 1px solid;
  border-image: linear-gradient(to bottom, #ffffff96, #ffffff2b) 1;
  background: #ffffff2b;
  padding: 20px;
}
.Home_tab{
  display: flex;
  height: 80px;
  opacity: 1;
  border-radius: 10px;
  padding: 12px 28px;
  box-sizing: border-box;
  background: rgba(28, 35, 57, 1);

 }
 .Home_tab_item{
  flex: 1;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
 }
 .Home_tab_item_on{
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(24, 79, 140, 1) 0%, rgba(46, 55, 90, 1) 100%); 
  border: 1px solid rgba(255, 255, 255, 0.1);
 }
 .Home_tab2{
  display: flex;
  align-items: center;
  padding: 38px 0px;
 }
 .Home_tab2_item{ 
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 29.05px;
  color: rgba(255, 255, 255, 0.8); 
  vertical-align: top; 
 }
 .Home_tab2_copy{
    width: 18px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
 }
 .Home_tab2_line{
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 20px;
 }
 .Home_tab2_item2{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 29.05px;
  color: rgba(255, 255, 255, 0.8); 
  vertical-align: top; 
 }
 .Home_tab2_item3{
  flex: 1;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 29.05px;
  color: rgba(255, 255, 255, 0.8); 
  vertical-align: top; 
 }
 .Home_tab2_item3 span{
  
 }

 .Home_main{ 
    background: #171b23;
    border: 1px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 1;
    border-radius: 10px;
    padding: 30px 60px;  
    position: relative;
 }
 .Home_main_bg{
  width: 946px;
  height: 400px;
  margin: 0 auto;
  background: url(../images/icon5.png) no-repeat;
  background-size: 100% 100%;
 }
 .Home_main_bg_1{
  position: absolute;
  top: 440px; 
  left: 558px;
  font-size: 12px;
  font-weight: 500; 
  color: rgba(255, 59, 48, 1);  
 }
 .Home_main_bg_2{
  position: absolute;
  top: 400px; 
  left: 585px;
  font-size: 14px;
  font-weight: 500; 
  color: rgba(106, 105, 105, 1);  
}
.Home_main_bg_3{
 position: absolute;
 top: 334px;
 left: 882px;
 font-size: 12px;
 font-weight: 500; 
 color: rgba(255, 59, 48, 1);  
}
.Home_main_bg_4{
   position: absolute;
   top: 289px;
    left: 894px;
   font-size: 14px;
   font-weight: 500; 
   color: #fff;  
}
.Home_main_bg_5{
   position: absolute;
   top: 289px;
    left: 208px;
   font-size: 14px;
   font-weight: 500; 
   color: #fff;  
}
.Home_main_bg_6{
  position: absolute;
  top: 230px;
   left: 208px;
  font-size: 20px;
  font-weight: 500; 
  color: #fff;  
}
.Home_main_bg_7{
  display: flex;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 440px;
  font-size: 20px;
  font-weight: 500; 
  color: #fff;  
}
.Home_main_bg_7 img{
  width: 38px;
  height: 38px;
  margin-right: 6px;
} 
.Home_main_bg_8{
  display: flex;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 885px;
  font-size: 20px;
  font-weight: 500; 
  color: #fff;  
}
.Home_main_bg_8 img{
  width: 38px;
  height: 38px;
  margin-right: 6px;
}

 .Home_main_h1{ 
  padding-top: 40px;
  font-size: 24px;
  font-weight: 900; 
  color: rgba(255, 255, 255, 1); 
 }
 .Home_main_h2{ 
  font-size: 16px;
  font-weight: 900; 
  margin-top: 12px;
  color: rgba(255, 255, 255, 1); 
 }
 .Home_main_h2 span{ 
  font-size: 14px;
  font-weight: 900; 
  color: rgba(255, 255, 255, 0.8); 
 }