.App {
  padding: 93px 0 0 0;
  margin: 0 auto;
}

button {
  font-size: calc(10px + 2vmin);
}

.swiper-pagination-bullet {
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background: rgba(0, 111, 255, 1) !important;
}

.ant-modal-content {
  padding: 0px !important;
}

.ant-select-selector {
  height: 50px !important;
  font-size: 16px !important;
  color: rgba(255, 255, 255, 0.8) !important;
  background: rgba(23, 29, 46, 1) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.Home_switching_select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.8) !important;
  margin-top: 2px;
  font-size: 20px;
}
