.App { 
  padding: 94px 0 0 0;
  margin: 0 auto;
}
 
button {
  font-size: calc(10px + 2vmin);
}

.swiper-pagination-bullet{
  background: #fff !important;
}
.swiper-pagination-bullet-active{
  background: rgba(0, 111, 255, 1) !important;
}